<!DOCTYPE html>
<html>
<head>
  <title>Add a Campus</title>
</head>
<body>
  <!-- action in form determines where input is going to go. POST is a method for creating new data -->
  <form action="/campuses" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>