.page-wrapper {
    width: 80%;
    height: 80%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

body{
  max-width: 960px;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#sidebar {
  display: inline-table;
  vertical-align: top;
  width: 20%;
  min-width: 100px;
}

#middle {
  display: inline-table;
  vertical-align: top;
  width: 79%;
  min-width: 300px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}


/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}*/